DISCORD_BOT_TOKEN=""
MONGO_URI="mongodb://admin:admin@localhost:27017/?authSource=admin"
MONGO_DB_NAME="acode-ai"
OPENAI_API_KEY=""
MONGO_ROOT_USERNAME="admin"
MONGO_ROOT_PASSWORD="admin"
OPENAI_CHAT_MODEL="gpt-4o-mini"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
EMBEDDING_DIMENSIONS=1536
RATE_LIMIT_REQUESTS=5
RATE_LIMIT_WINDOW_SECONDS=60
